body {
        background-image: url("child.jpg");
    background-repeat: no-repeat;
}

canvas {

    background: rgba(255,255,255,.3);
    margin: 20px auto;
    border: 5px solid #E8E8E8;
    display: block;
}

.container {
    background-color: rgba(0,0,0,.5);
    padding: 100px 5px 50px;
    border-radius: 3px;
    color: white;
}