


    <!-- Header -->
    <header>
        <div class="acontainer">
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <span class="name">SketchUp Kid</span>
                            <hr class="star-light">
                            <span class="skills">Calca y crea tu propio mundo</span>
                            <br/>
                            <%= link_to "Dibujá", board_path, class: "btn-custom" %>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </header>
